ul, h1 {
    padding: 0;
    color: white;
}

body {
    background-color: #001632;
}

.my-icon {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 30%;
}

.my-btn {
    background-color: darkblue;
    color: orange;
    border: 1px solid orange;
}